* {
    scrollbar-width: thin;
    scrollbar-color: #A1A1AA #F4F4F5;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0.5rem;
}

*::-webkit-scrollbar-track {
    background: #F4F4F5;
}

*::-webkit-scrollbar-thumb {
    background-color: #A1A1AA;
    border-radius: 0.5rem;
    border: 1px solid #F4F4F5;
}
